.circleci
.DS_Store
/dist
 
# node_modules
node_modules/*
!/node_modules
/node_modules/*

# micromustache .d.ts file
!/node_modules/micromustache
/node_modules/micromustache/*
!/node_modules/micromustache/index.d.ts

# vue-google-maps .d.ts file
!/node_modules/vue2-google-maps
/node_modules/vue2-google-maps/*
!/node_modules/vue2-google-maps/dist
/node_modules/vue2-google-maps/dist/*
!/node_modules/vue2-google-maps/dist/main.d.ts

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Editor directories and files
.idea
.vscode
*.ntvs*
*.njsproj
*.sln
*.sw*

# Folder added by VS
.vs/

# User-specific files
*.suo
&.user
&.sln.docstates

# Build Results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
